<div class="content">
  <div class="container-fluid">
    <div>
      <div class="form-group form-search is-empty col-sm-8 col-lg-6">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar cliente"
          [(ngModel)]="dataSearch"
          (keyup.enter)="onChangeNews()"
          [ngModelOptions]="{ standalone: true }"
        />
        <span class="material-input"></span>
      </div>
      <button class="btn btn-warning" (click)="onChangeNews()">
        <div class="ripple-container"></div>
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </div>

    <div class="card" *ngIf="cliente && cliente.id !== 0">
      <div class="card-header card-header-tabs" data-background-color="blue">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active">
                <a href="#profile" data-toggle="tab">
                  Datos
                  <div class="ripple-container"></div
                ></a>
              </li>
              <li class="">
                <a href="#messages" data-toggle="tab">
                  Tarjeta
                  <div class="ripple-container"></div
                ></a>
              </li>
              <li class="">
                <a href="#settings" data-toggle="tab">
                  Crédito
                  <div class="ripple-container"></div
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="tab-content">
          <div class="tab-pane active" id="profile">
            <app-datos-cliente [formGroup]="formGroup"></app-datos-cliente>
          </div>
          <div class="tab-pane" id="messages">
            <app-tarjeta-cliente [tarjetas]="tarjetas"></app-tarjeta-cliente>
          </div>
          <div class="tab-pane" id="settings">
            <app-credito-cliente [creditos]="creditos"></app-credito-cliente>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
