<div class="content">
  <div class="container-fluid">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Carnet de Identidad"
        [(ngModel)]="dataSearch"
        (keyup.enter)="onChangeNews()"
        [ngModelOptions]="{ standalone: true }"
      />
      <button class="btn btn-warning" (click)="onChangeNews()">
        <div class="ripple-container"></div>
        <i class="fas fa-search"></i>
        <div class="ripple-container"></div>
      </button>
    </div>

    <div class="card" *ngIf="cliente && cliente.id !== 0">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Datos</a>
          <ng-template ngbNavContent>
            <app-datos-cliente [formGroup]="formGroup"></app-datos-cliente>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Tarjeta</a>
          <ng-template ngbNavContent
            ><app-tarjeta-cliente [tarjetas]="tarjetas" [cliente_id]="cliente.id"></app-tarjeta-cliente
          ></ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Crédito</a>
          <ng-template ngbNavContent
            ><app-credito-cliente [creditos]="creditos"></app-credito-cliente
          ></ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Pagos</a>
          <ng-template ngbNavContent
            ><app-pagos-cliente [pagos]="pagos"></app-pagos-cliente
          ></ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Cuotas Mensuales</a>
          <ng-template ngbNavContent>
            <app-pagos-mensuales-cliente [cuotasMensuales]="cuotasMensuales"></app-pagos-mensuales-cliente>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
