<div class="col-md-12">
    <div class="card p-2">
      <div class="card-header card-header-icon" data-background-color="blue">
        <div class="input-group float-end">
          <h4 class="card-title col-7">Empresas</h4>
  
          <div class="col-5">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar por nombre"
                [(ngModel)]="dataSearch"
                (keyup.enter)="onChangeSearch()"
                [ngModelOptions]="{ standalone: true }"
              />
              <button class="btn btn-warning" (click)="onChangeSearch()">
                <div class="ripple-container"></div>
                <i class="fas fa-search"></i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
  
        <div class="card-content">
            <button class="btn btn-info float-end m-2 text-white" routerLink="empresa">Nueva empresa</button>
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                            <th>Razon Social</th>
                            <th>NIT</th>
                            <th>Representante Legal</th>
                            <th>Fecha de Cierre</th>
                            <th>Estado</th>
                            <th class="disabled-sorting text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empresa of listEmpresas">
                            <td>{{empresa.razon_social}}</td>
                            <td>{{empresa.nit}}</td>
                            <td>{{empresa.representante_legal}}</td>
                            <td>{{empresa.fecha_cierre}}</td>
                            <td>{{empresa.estado}}</td>
                            <td class="text-right">
                                <a routerLink="editar" [queryParams]="empresa" class="p-1 text-white btn btn-simple btn-warning btn-icon edit">Editar</a>
                                <a (click)="selectedDeleteModal(empresa.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="p-1 ms-1 btn btn-simple btn-danger btn-icon remove">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Está seguro de eliminar la empresa permanentemente?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="eliminarEmpresa()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
<script>
	$(document).ready(function() {
        console.log("Gola");
		$('#datatables').DataTable({
			"pagingType": "full_numbers",
			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			responsive: true,
			language: {
			search: "_INPUT_",
			searchPlaceholder: "Search records",
			}

		});


		var table = $('#datatables').DataTable();

		// Edit record
		table.on( 'click', '.edit', function () {
			$tr = $(this).closest('tr');

			var data = table.row($tr).data();
			alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
		} );

		// Delete a record
		table.on( 'click', '.remove', function (e) {
			$tr = $(this).closest('tr');
			table.row($tr).remove().draw();
			e.preventDefault();
		} );

		//Like record
		table.on( 'click', '.like', function () {
			alert('You clicked on Like button');
		});

		$('.card .material-datatables label').addClass('form-group');
	});

	</script>
