<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <i class="material-icons">mail_outline</i>
        </div>

        <div class="card-content">
            <h4 class="card-title">Plan</h4>
            <form [formGroup]="formGroup" (ngSubmit)="editarPlan()">
                <div class="form-group label-floating">
                    <label class="control-label">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Seguro</label>
                    <input type="number" step=".01" formControlName="seguro" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Mantenimiento</label>
                    <input type="number" step=".01" formControlName="mantenimiento" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Recargo</label>
                    <input type="number" step=".01" formControlName="recargo" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Interés</label>
                    <input type="number" step=".01" formControlName="interes" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Mora</label>
                    <input type="number" step=".01" formControlName="mora" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" formControlName="estado" name="estado">
                        Estado
                    </label>
                </div>
                <button class="btn btn-fill btn-default" routerLink="/empresa/planes">Volver</button>
                <button type="submit" class="btn btn-fill btn-info">Enviar</button>
            </form>
        </div>
    </div>
</div>