<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <h3 style="color: darkturquoise">Datos Personales</h3>

  <div class="row">
    <div class="col-lg-4">
      <label for="nombre" style="margin: 0px">Nombre(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        id="nombre"
        formControlName="nombre"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label for="apellido_paterno" style="margin: 0px"
        >Apellido Paterno(*)</label
      >
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        id="apellido_paterno"
        formControlName="apellido_paterno"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label for="apellido_materno" style="margin: 0px"
        >Apellido Materno(*)</label
      >
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        id="apellido_materno"
        formControlName="apellido_materno"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label class="label-control">Fecha de Nacimiento(*)</label>
        <input
          type="text"
          class="form-control datetimepicker"
          value="10/05/2016"
          formControlName="fecha_nacimiento"
          [attr.disabled]="editing === false ? true : null"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">CI(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="ci"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label class="label-control">Estado Civil(*)</label>
      <select
        class="bootstrap-select"
        data-style="select-with-transition"
        title="Estado Civil"
        data-size="3"
        formControlName="estado_civil"
        style="margin-top: 10px"
      >
        <option disabled>Estado Civil</option>
        <option value="Casado">Casado</option>
        <option value="Soltero">Soltero</option>
        <option value="Viudo">Viudo</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Sexo</label>
      <select
        class="bootstrap-select"
        data-style="select-with-transition"
        title="Sexo"
        data-size="3"
        formControlName="sexo"
        style="margin-top: 10px"
      >
        <option disabled>Sexo</option>
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
      </select>
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Teléfono Celular(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="telefono_celular"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Teléfono Fijo</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="telefono_fijo"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Calle Particular(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="calle_particular"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Barrio(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="barrio"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Zona(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="zona"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Provincia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="provincia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Ciudad(*)</label>

      <select
        class="bootstrap-select"
        data-style="select-with-transition"
        title="Ciudad"
        data-size="3"
        formControlName="ciudad_id"
        style="margin-top: 10px"
      >
        <option disabled>Ciudad</option>
        <option value="5">Santa Cruz</option>
        <option value="15">La Paz</option>
        <option value="25">Cochabamba</option>
        <option value="35">Tarija</option>
        <option value="45">Chuquisaca</option>
        <option value="55">Potosí</option>
        <option value="65">Oruro</option>
        <option value="75">Pando</option>
        <option value="85">Beni</option>
      </select>
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Email(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="email"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Saldo</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Día Pago</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="dia_pago"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Estado</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="estado"
        [attr.disabled]="true"
      />
    </div>
  </div>

  <h3 style="color: darkturquoise">Referencia</h3>
  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Parentesco Referencia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="parentesco_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Nombre Referencia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="nombre_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Ciudad Referencia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="ciudad_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Provincia Referencia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="provincia_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Teléfono Referencia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="telefono_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Tipo Teléfono de Referencia(*)</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="tipo_tel_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>
  <div class="row p-4">
    <div *ngIf="editing && formGroup.invalid" class="alert alert-danger mb-0">
      Complete todos los campos requeridos (*)
    </div>
    <button
      type="button"
      class="btn btn-danger col-2"
      style="float: right; margin-right: 25px"
      (click)="bloquearCliente()"
    >
      {{ cliente.estado === 'Bloqueado' ? 'Desbloquear Cliente' : 'Bloquear Cliente' }}
    </button>
    <button
      type="submit"
      class="btn btn-info col-2"
      style="float: right; margin-right: 25px"
      *ngIf="cliente.estado === 'Desbloqueado'"
    >
      {{ textEditBtn }}
    </button>
  </div>
</form>
