<form [formGroup]="formGroup" (ngSubmit)="editarCliente()">
  <div class="row">
    <div class="col-lg-4">
      <label for="nombre" style="margin: 0px">Nombre</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        id="nombre"
        formControlName="nombre"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label for="apellido_paterno" style="margin: 0px">Apellido Paterno</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        id="apellido_paterno"
        formControlName="apellido_paterno"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label for="apellido_materno" style="margin: 0px">Apellido Materno</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        id="apellido_materno"
        formControlName="apellido_materno"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label class="label-control">Estado Civil</label>

      <select
        class="bootstrap-select"
        data-style="select-with-transition"
        title="Estado Civil"
        data-size="3"
        formControlName="estado_civil"
        style="margin-top: 10px;"
      >
        <option disabled>Estado Civil</option>
        <option value="Casado">Casado</option>
        <option value="Soltero">Soltero</option>
        <option value="Viudo">Viudo</option>
      </select>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label class="label-control">Fecha de Nacimiento</label>
        <input
          type="text"
          class="form-control datetimepicker"
          value="10/05/2016"
          formControlName="fecha_nacimiento"
          [attr.disabled]="editing === false ? true : null"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">CI</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="ci"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Calle Particular</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="calle_particular"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Barrio</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="barrio"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Día Pago</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="dia_pago"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Saldo</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="saldo"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Sexo</label>
        <select
          class="bootstrap-select"
          data-style="select-with-transition"
          title="Sexo"
          data-size="3"
          formControlName="sexo"
          style="margin-top: 10px;"
        >
          <option disabled>Estado Civil</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Zona</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="zona"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Provincia</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="provincia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
        <label style="margin: 0px">Ciudad</label>

        <select
          class="bootstrap-select"
          data-style="select-with-transition"
          title="Ciudad"
          data-size="3"
          formControlName="ciudad_id"
          style="margin-top: 10px;"
        >
          <option disabled>Ciudad</option>
          <option value="0">Santa Cruz</option>
          <option value="1">La Paz</option>
          <option value="2">Cochabamba</option>
          <option value="3">Tarija</option>
          <option value="4">Chuquisaca</option>
          <option value="5">Potosí</option>
          <option value="6">Oruro</option>
          <option value="7">Pando</option>
          <option value="8">Beni</option>
        </select>
    </div>
    <div class="col-lg-4">
      <label style="margin: 0px">Teléfono Fijo</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="telefono_fijo"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Teléfono Celular</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="telefono_celular"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Email</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="email"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Nombre Referencia</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="nombre_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Provincia Referencia</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="provincia_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Teléfono Referencia</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="telefono_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Tipo Teléfono de Referencia</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="tipo_tel_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <label style="margin: 0px">Ciudad Referencia</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="ciudad_referencia"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>

    <div class="col-lg-4">
      <label style="margin: 0px">Estado</label>
      <input
        type="text"
        class="form-control"
        style="margin: 0px"
        formControlName="estado"
        [attr.disabled]="editing === false ? true : null"
      />
    </div>
  </div>
  <div class="row">
    <button
      type="submit"
      class="btn btn-fill btn-info"
      style="float: right; margin-right: 25px"
    >
      {{ textEditBtn }}
    </button>
  </div>
</form>
