<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <h4 class="card-title">Provincia</h4>
        </div>

        <div class="card-content p-2">
            <form [formGroup]="formGroup" (ngSubmit)="editarProvincia()">
                <div class="form-group label-floating">
                    <label class="control-label">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" formControlName="estado" name="estado">
                        Estado
                    </label>
                </div>
                <div class="col">
                    <div class="form-group label-floating">
                        <label class="control-label mt-1">Ciudad</label>
                        <select
                          class="form-control form-select w-100 mt-1"
                          aria-label="Default select example"
                          formControlName="ciudad_id"
                        >
                          <option value="" [selected] disabled>Elegir Ciudad</option>
                          <option [value]="ciudad.id" *ngFor="let ciudad of ciudades">
                            {{ ciudad.nombre }}
                          </option>
                        </select>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-fill btn-info m-1 float-end text-white">Enviar</button>
                <button class="btn btn-fill btn-default m-1 float-end" routerLink="/empresa/provincias">Volver</button>
            </form>
        </div>
    </div>
</div>