<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="blue">
      <h4 class="card-title">Clientes</h4>
    </div>

    <div class="card-content p-2">
      <div class="toolbar"></div>
      <div class="material-datatables">
        <table
          id="datatables"
          class="table table-striped table-no-bordered table-hover"
          cellspacing="0"
          width="100%"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th>Nombre</th>
              <th>CI</th>
              <th>Linea de crédito</th>
              <th>Estado</th>

              <th class="disabled-sorting text-right">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{ cliente.nombre }} {{ cliente.apellido_paterno }} {{ cliente.apellido_materno }}</td>
              <td>{{ cliente.ci }}</td>
              <td>{{ cliente.linea_credito  | number }}</td>
              <td>{{ cliente.estado }}</td>
              <td class="text-right">
                <a
                  routerLink="ver"
                  (click)="verCliente(cliente.ci)"
                  class="btn btn-simple btn-warning btn-icon edit"
                  >Ver</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
