<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <h4 class="card-title">Cargar Clientes</h4>
        </div>

        <div class="card-content p-2">
            <a class="btn btn-info mb-1 text-white" href="">Descargar Plantilla Excel</a>
            <form [formGroup]="clienteForm" (ngSubmit)="agregarClientes()">
                <hr>
                <h5 for="archivo" class="control-label">Subir Archivo Excel</h5>
                <input type="file" formControlName="archivo" id="archivo" class="form-control-file" (change)="onFileChange($event)">
                <button type="submit" class="btn btn-fill btn-success  ms-3 text-white">Enviar</button>
            </form>

        </div><!-- end content-->
    </div><!--  end card  -->
</div> 

