<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
          <h4 class="card-title">Rubros</h4>
        </div>

        <div class="card-content p-2">
            <button class="btn btn-info float-end text-white" routerLink="nuevo">Nuevo Rubro</button>

            <div class="toolbar">
            </div>
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="disabled-sorting text-right float-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rubro of rubros">
                            <td>{{rubro.nombre}}</td>
                            <td class="text-right ">
                                <a routerLink="editar"  [queryParams]="rubro" class="btn btn-simple btn-warning btn-icon float-end m-2">Editar</a>
                                <a (click)="openDeleteModal(rubro.id)" class="btn btn-simple btn-danger btn-icon float-end m-2">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 

<ng-template #deleteModal let-modal>
    <div class="modal-header">
      <p>
        <strong>Eliminar Ciudad</strong>
      </p>
    </div>
    <div class="modal-body">
      <p>
        La ciudad se eliminará permanentemente
      </p>
      <p>
        Esta acción es irreversible ¿Desea continuar?
      </p>
    </div>
    <div class="modal-footer">
      <div class="text-right">
        <button
          type="button"
          class="btn btn-outline-secondary btn-md btn-rounded mr-2"
          (click)="modal.dismiss()"
        >
          Cancelar
        </button>
        <button
          ngbAutofocus
          type="button"
          class="btn btn-md btn-rounded btn-danger pe-2"
          (click)="modal.close()"
        >
          Eliminar
        </button>
      </div>
    </div>
  </ng-template>