<div
  class="sidebar"
  data-active-color="blue"
  data-background-color="black"
  data-image="../assets/img/sidebar-1.jpg"
>
  <div class="sidebar-wrapper">
    <ul class="nav flex-column">
      <li class="nav-item active">
        <a [routerLink]="['/dashboard']">
          <p>Principal</p>
        </a>
      </li>

      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Empresa
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body">
              <li>
                <a class="dropdown-item" [routerLink]="['/empresa']">
                  <span class="sidebar-normal"> Empresas </span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="empresa/cargar">
                  <span class="sidebar-normal"> Cargar Empresas </span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['empresa/rubros']">
                  <span class="sidebar-normal"> Rubro </span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['empresa/ciudades']">
                  <span class="sidebar-normal"> Ciudades </span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['empresa/provincias']">
                  <span class="sidebar-normal"> Provincias </span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="empresa/planes">
                  <span class="sidebar-normal"> Planes </span>
                </a>
              </li>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                Cliente
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingTwo"
            >
              <div class="accordion-body">
                <li>
                    <a class="dropdown-item"[routerLink]="['cliente/clientes']">
                      <span class="sidebar-normal"> Clientes </span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item"[routerLink]="['/cliente']">
                      <span class="sidebar-normal"> Buscar Cliente </span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item"href="./pages/rtl.html">
                      <span class="sidebar-normal">
                        Afiliación de nuevo cliente
                      </span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item"[routerLink]="['/cliente/cargar']">
                      <span class="sidebar-normal"> Carga Clientes </span>
                    </a>
                  </li>
              </div>
            </div>
          </div>
      </div>
    </ul>
  </div>
</div>
