<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <h4 class="card-title">Rubro</h4>
        </div>

        <div class="card-content p-2">
            <form [formGroup]="formGroup" (ngSubmit)="agregarRubro()">
                <div class="form-group label-floating">
                    <label class="control-label">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" formControlName="estado" name="estado">
                        Estado
                    </label>
                </div>
                <button type="submit" class="btn btn-fill btn-info float-end text-white">Guardar</button>
                <button class="btn btn-fill btn-default float-end" routerLink="/empresa/rubros">Volver</button>
            </form>
        </div>
    </div>
</div>