<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <h4 class="card-title">Nuevo Plan</h4>
        </div>

        <div class="card-content p-2">
            <form [formGroup]="planForm" (ngSubmit)="agregarPlan()">
                <div class="form-group label-floating">
                    <label class="control-label">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Seguro</label>
                    <input type="number" step=".01" formControlName="seguro" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Mantenimiento</label>
                    <input type="number" step=".01" formControlName="mantenimiento" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Recargo</label>
                    <input type="number" step=".01" formControlName="recargo" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Interés</label>
                    <input type="number" step=".01" formControlName="interes" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Mora</label>
                    <input type="number" step=".01" formControlName="mora" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" formControlName="estado" name="estado">
                        Estado
                    </label>
                </div>
                <button type="submit" class="btn btn-fill btn-info float-end text-white">Guardar</button>
                <button class="btn btn-fill btn-default float-end" routerLink="/empresa/planes">Volver</button>
            </form>
        </div>
    </div>
</div>